/* =======================
   Color & Base Variables
   ======================= */

/* Base background color */
@define-color bg_main rgba(25, 25, 25, 0.65);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);

/* Selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
@define-color bg_active rgba(100, 100, 100, 0.5);
@define-color bg_urgent rgba(100, 0, 35, 0.5);

/* Borders */
@define-color border_main rgba(255, 255, 255, 0.2);

/* Text */
@define-color content_main white;
@define-color content_inactive rgba(255, 255, 255, 0.25);


/* ===================
   Base Reset
   =================== */

* {
  text-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  font-family: "JetbrainsMono Nerd Font";
  font-weight: 600;
  font-size: 12px;
}


/* ===================
   Waybar Window
   =================== */

window#waybar {
  background: @bg_main;
  border-bottom: 1px solid @border_main;
  color: @content_main;
  margin-left: 10px;
  margin-right: 10px;
}


/* ===================
   Tooltip
   =================== */

tooltip {
  background: @bg_main_tooltip;
  border-radius: 5px;
  border: 1px solid @border_main;
}

tooltip label {
  color: @content_main;
}


/* ===================
   OS Button
   =================== */

#custom-os_button {
  font-size: 18px;
  padding: 0 14px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#custom-os_button:hover {
  background: @bg_hover;
}


/* ===================
   Workspaces
   =================== */

#workspaces {
  color: transparent;
}

#workspaces button {
  padding: 3px;
  color: @content_inactive;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#workspaces button.active {
  color: @content_main;
}

#workspaces button.urgent {
  background: @bg_urgent;
}

#workspaces button:hover {
  background: @bg_hover;
  color: @content_main;
}

#custom-workspaces_drawer_icon {
  padding: 0 3px;
}


/* ===================
   Taskbar
   =================== */

#taskbar button {
  color: white;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#taskbar button.active {
  background: @bg_active;
}

#taskbar button.urgent {
  background: @bg_urgent;
}

#taskbar button:hover {
  background: @bg_hover;
}

#custom-taskbar_drawer_icon {
  padding: 0 3px;
}


/* ===================
   System Resource Modules
   =================== */

#cpu,
#memory,
#disk {
  padding: 0 6px;
}


/* ===================
   Tray
   =================== */

#tray {
  padding: 0 3px;
}

#tray > .needs-attention {
  background: @bg_urgent;
}

#tray > widget {
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#tray > widget:hover {
  background: @bg_hover;
}


/* ===================
   Audio
   =================== */

#pulseaudio {
  font-size: 12px;
  padding: 0 3px;
}

#pulseaudio.muted {
  font-size: 17px;
  padding: 0 5px;
}

#pulseaudio:hover {
  background: @bg_hover;
}


/* ===================
   Updates, Screenshot, Wallpaper
   =================== */

#custom-updates {
  font-size: 12px;
  padding-left: 4px;
  padding-right: 9px;
}

#custom-screenshot,
#custom-wallpaper {
  font-size: 14px;
  padding-left: 6px;
  padding-right: 8px;
}

#custom-updates:hover,
#custom-screenshot:hover,
#custom-wallpaper:hover {
  background: @bg_hover;
}

/* ===================
   Custom Lock
   =================== */

#custom-lock_waybar {
  padding-left: 4px;
  padding-right: 10px;
}
